<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
<meta charset="UTF-8" />
<title>Settings</title>
</head>
<body>
	<div class="container">
		<div class="row ">
			<div class="col-sm-3">
				<div class="card" >
					<div class="card-header">Settings</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">Account Information</li>
						<li class="list-group-item">Change your password</li>
						<li class="list-group-item">Manage your lists</li>
					</ul>
				</div>
			
			</div>
		</div>

	</div>


</body>

</html>
