<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
<meta charset="UTF-8" />
<title>Settings</title>
</head>
<body>


	<form th:object="${list}" th:action="@{/list/update}"
					th:method="post">
	<input type="hidden" th:field="*{id}" />
	<div class="row" style="margin: 4rem auto 0;" >
	<div class="col-sm-1">
		<label for="list_name" ><b>List name:</b></label> 
	</div>
		<div class="col-sm-3">
			<input type="text" id="list_name" class="form-control" placeholder="List name..." th:field="*{name}" />
		</div>
	</div>
	

	

	<div class="container">
		<div class="row ">
			<div class="col-lg-3" th:each="cat: ${map.keySet()}">
				<div class="card" >
					<div class="card-header"  th:text="${cat.name}">Cat_name</div>
					<ul class="list-group list-group-flush">
						<li class="form-check" th:each="site:${map.get(cat)}">
							<input class="form-check-input"
								type="checkbox" th:value="${site.id}" id="flexCheckDefault" th:field="*{webSites}"> 
							<label
								class="form-check-label" for="flexCheckDefault" th:text="${site.url.getHost()}"> Website1
							</label>
						</li>
				
					</ul>
				</div>

			</div>
		</div>

	</div>
	<div class="form-group" >
			
				<button type="Submit" class="btn btn-outline-dark" th:text="Save">Save</button>
			
		</div>
	</form>

</body>

</html>
