
<!doctype html>
<html th:fragment="layout (template, menu)">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">


<title>FastNews</title>
<link rel="shortcut icon" th:href="@{/images/panda.png}"/>
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/js/script.js}">

<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous"
	th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}">
<script src="
	https://code.jquery.com/jquery-3.6.0.min.js"
	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
	crossorigin="anonymous" th:src="@{/webjars/jquery/3.6.0/jquery.min.js}"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
	integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
	crossorigin="anonymous"
	th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.min.js}"></script>
<link rel="stylesheet"
	th:href="@{/webjars/font-awesome/6.1.1/css/all.css}" />


</head>
<body>

	<nav class="navbar navbar-expand-md navbar-light ">
		<div class="container-fluid">
			<div class="navbar-header ">
				<a class="navbar-brand" th:href="@{/}"><span><img
						src="/images/panda.png" class="rounded float-left" alt="logo">
						𝔽𝕒𝕤𝕥ℕ𝕖𝕨𝕤</span></a>

			</div>
			<button type="button" class="navbar-toggler"
				data-bs-toggle="collapse" data-bs-target="#main-navbar">
				<span class="navbar-toggler-icon"> </span>
			</button>
			<div class="collapse navbar-collapse" id="main-navbar">
				<ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">

					<li class="nav-item mt-2 mt-lg-0"><a class="nav-link active"
						aria-current="page" th:href="@{/}" th:title="Home"><i
							class="fa-solid fa-house fa-lg"></i> <span th:text="Home">Home</span>
					</a></li>

					<li class="nav-item dropdown"><a class="nav-link "
						id="categoriesDropdown" th:href="@{/}" th:title="Categories"
						role="button" data-bs-toggle="dropdown" aria-expanded="false"><i
							class="fa-solid fa-grip fa-lg me-1"></i><span
							th:text="Categories">Categories</span></a>
						<div class="dropdown-menu" aria-labelledby="categoriesDropdown">
							<a class="dropdown-item" th:href="@{/?tag=Business}"><i
								class="fa-solid fa-business-time"></i> Business</a> <a
								class="dropdown-item" th:href="@{/?tag=Finance}"><i
								class="fa-solid fa-coins"></i> Finance</a> <a class="dropdown-item"
								th:href="@{/?tag=Food}"><i class="fa-solid fa-utensils"></i>
								Food</a> <a class="dropdown-item" th:href="@{/?tag=Health}"><i
								class="fa-solid fa-briefcase-medical"></i> Health</a> <a
								class="dropdown-item" th:href="@{/?tag=Music}"><i
								class="fa-solid fa-music"></i> Music</a> <a class="dropdown-item"
								th:href="@{/?tag=News}"><i class="fa-solid fa-newspaper"></i>
								News</a> <a class="dropdown-item" th:href="@{/?tag=Sport}"><i
								class="fa-solid fa-futbol"></i> Sport</a> <a class="dropdown-item"
								th:href="@{/?tag=Technology}"><i
								class="fa-solid fa-microchip"></i> Technology</a> <a
								class="dropdown-item" th:href="@{/?tag=Travel}"><i
								class="fa-solid fa-plane"></i> Travel</a>
						</div></li>
					<li class="nav-item dropdown" sec:authorize="isAuthenticated()"><a
						class="nav-link " id="listsDropdown" th:title="Lists"
						role="button" data-bs-toggle="dropdown" aria-expanded="false"><i
							class="fa-solid fa-list fa-lg me-1"></i><span th:text="Lists">Lists</span></a>

						<div class="dropdown-menu" aria-labelledby="ListsDropdown">
							<div th:each="list: ${userLists}">
								<a class="dropdown-item" th:href="@{'/?list='+${list.id}}"><i
									class="fa-solid fa-angles-right me-2"></i><span
									th:text="${list.name}"></span></a>
							</div>

							<a class="dropdown-item" th:href="@{/list/new}"><i
								class="fa-solid fa-file-circle-plus"></i> Add new List</a>
						</div></li>

					<li class="nav-item"><a class="nav-link"
						th:href="@{/settings}" th:title="Settings"><i
							class="fa-solid fa-gear fa-lg"></i> <span th:text="Settings">Settings</span></a></li>


					<li class="nav-item" sec:authorize="isAuthenticated()">

						<form id="Logout" th:action="@{/logout}" method="POST"
							style="display: none"></form> <a class="nav-link" href=""
						onclick="document.getElementById('Logout').submit(); return false;"
						title="Logout"> <i
							class="fa-solid fa-arrow-right-from-bracket fa-lg"></i>
					</a>

					</li>
					<li class="nav-item" sec:authorize="isAnonymous()"><a
						class="nav-link" th:href="@{/login}" title="Login"> <i
							class="fa-solid fa-arrow-right-to-bracket fa-lg"></i>
					</a></li>
				</ul>
			</div>
		</div>
	</nav>



	<th:block th:include="${template}" />


	<br />
	<br />


	<div class="container">
		<footer
			class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
			<div class="col-md-4 d-flex align-items-center">


				<span class="text-muted">&copy; 2022 Mateusz Smolinski</span>
			</div>


			<ul class="justify-content-end list-unstyled ">
				<li><a class="git-link" th:target="_blank"
					href="https://www.linkedin.com/in/mateusz-s-2b4b44181" title="Linkedin"><i
						class="fa-brands fa-linkedin fa-lg"></i></a>
						<a class="git-link" th:target="_blank"
					href="https://github.com/Emesall" title="Github"><i
						class="fa-brands fa-github fa-lg"></i></a>
						</li>
			</ul>

			
		</footer>
	</div>
</body>


</html>
