


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
<meta charset="UTF-8" />
<title>News Aggregator</title>


</head>
<body>
	<div class="container">
		<div class="row ">
			<div class="col-sm-3" th:each="feed : ${results}">
				<article class="news">
					<header class="news-header">
						<h3 class="news-title">
							<a th:href="${feed.uri}" th:target="_blank"
								th:text="${feed.title}">Title</a>
						</h3>
						<hr />
						<time
							th:text="${#calendars.format(feed.dateTime,'E, dd-MM-yyyy   HH:mm')}">Thursday,
							June 12, 2022</time>
						<p class="news-cat">
							<span th:each="category : ${feed.categories}"><a href=""
								th:text="${category.name}">Sport </a></span>
						</p>
						<hr />
					</header>
					<section class="news-fragment">
						<p th:text="${feed.entry}">England shattered their own world
							record for the highest total in ODI cricket in the first
							one-dayer against Netherlands</p>
						<span><a th:href="${feed.uri}" th:target="_blank">more</a></span>
					</section>
				</article>
			</div>
		</div>

	</div>
	

	<div class="pagination" >
		<a th:href="@{'?page='+${currentPage - 1}}" th:class="${currentPage==1 ? 'disabled' : ''}">&laquo;</a> <a
			th:each="i: ${#numbers.sequence(1, totalPages)}" th:href="@{'?page='+${i}}"
			th:text="${i}" th:class="${currentPage==i ? 'active' : ''}">1</a> 
		<a th:href="@{'?page='+${currentPage + 1}}" th:class="${currentPage==totalPages ? 'disabled' : ''}">&raquo;</a>
	</div>


</body>
</html>