


<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
<meta charset="UTF-8" />
<title>News Aggregator</title>


</head>
<body>
	<div class="container">
		<div class="row ">
			<div class="col-sm-3 font-default">
				<p class="news-title">Title 1</p>
				<section class="news-fragment">
					<p>aaaaaaaaa aaaaaaaaa aaaaaaaaaa aaaaaaaa aaaaaaaa aaaaaaa ds sd</p>
				</section>
			</div>
			<div class="col-sm-3 font-default">
				<p class="news-title">Title 2</p>
				<section class="news-fragment ">
					<p>wwwwww wwwwwww wwwwwwww www wwwwww wwwwwwwww wwwww ww wwwwwwwwwwww wwwwww wwwww</p>
 
					
				</section>
			</div>
			<div class="col-sm-3">dsdsdss ssssss ssssss ssssssssss sssss sssssssss sss sssssss sssss</div>
			<div class="col-sm-3">sssss ssssss sss ssss ssssssss sssssss sss ssssssss ssssssss ssssssssss sssssssss sssss</div>
		</div> 
	</div>

</body>
</html>