<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{fragments/layout :: layout (~{::body},'login')}">
<head>
<meta charset="UTF-8" />
<title>Login</title>

</head>
<body>

	<div class="container">
		<div class="row justify-content-sm-center">
			
			<div class="col-xxl-5 col-xl-6 col-lg-6 col-md-7 col-sm-9">
			<div th:if="${param.error}" class="alert alert-danger text-center mt-5"
				th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}">Message
			</div>
			<div
				th:if="${param.error} and ${#strings.equals(session['SPRING_SECURITY_LAST_EXCEPTION'].class,'class org.springframework.security.authentication.DisabledException')}"
				class="text-center activationLink">
				<a th:href="@{/sendActivationEmail}">Resend Activation Email</a>
			</div>

			<div th:if="${param.logout}" class="alert alert-success text-center mt-5">
				You have been logged out.</div>
			<div th:if="${param.registered}"
				class="alert alert-success text-center mt-5">Successfully
				registered.</div>
			<div th:if="${param.passChanged}"
				class="alert alert-success text-center mt-5">Your password has been
				successfully changed.</div>
			<div th:if="${param.expired}" class="alert alert-danger text-center mt-5">Link
				expired.</div>
			<div th:if="${param.enabled}" class="alert alert-success text-center mt-5">Your
				account is active. Now you can log in.</div>

				<div class="card shadow-lg">
					<div class="card-body p-5">
						<h1 class="fs-4 card-title fw-bold mb-4 text-center">Login</h1>
						<form method="POST" th:action="@{/login}" autocomplete="off">
							<div class="mb-3">

								<label class="mb-2 text-muted" for="email">E-Mail
									Address</label>
								<div class="input-field">
									<span class="far fa-user p-2"></span> <input id="username"
										type="email" name="username" value="" required autofocus>


								</div>
							</div>
							<div class="mb-3">
								<div class="mb-2 w-100">
									<label class="text-muted" for="password">Password</label>

								</div>
								<div class="input-field">
									<span class="fas fa-lock p-2"></span> <input id="password"
										type="password" name="password" required>

								</div>
							</div>


							<div class="mb-4 w-100">
								<div class="form-check">
									<input type="checkbox" name="remember-me" id="remember-me"
										class="form-check-input"> <label for="remember-me"
										class="form-check-label">Remember Me</label> <a
										th:href="@{/forgotPassword}" class="float-end"> Forgot
										Password? </a>
								</div>



							</div>

							<button class="btn btn-block text-center my-3 w-100">Log
								in</button>
						</form>
					</div>
					<div class="card-footer py-3 border-0">
						<div class="text-center">
							Don't have an account? <a th:href="@{/register}">Create One</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>



</body>

</html>
